@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: rgb(191, 151, 228);
}

.questions {
    background: fixed;
    background-image:  linear-gradient(rgb(145, 8, 138), rgb(236, 80, 223), rgb(207, 150, 198));
    width: 60%;
    height: auto;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
    border-radius: 7px;
    color: rgb(20, 20, 94);
     
}